.fondoCiudad{
  /* background-image: url('https://www.youtube.com/watch?v=QRTQ092aQwY&ab_channel=elunico84');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;     */
}